spring:
  datasource:
    url: jdbc:h2:mem:music_webdav;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  liquibase:
    enabled: false

mybatis:
  mapper-locations: classpath*:mapper/*.xml
  type-aliases-package: com.example.musicwebdav.infrastructure.persistence.entity
  configuration:
    map-underscore-to-camel-case: true

logging:
  file:
    path: ./logs
  level:
    root: INFO
    com.example.musicwebdav: DEBUG
